/* frontend/src/css/admin-product-list.css */

.table-container {
    overflow-x: auto;
	flex-grow: 1;
}

.products-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: var(--spacing-md);
    background-color: var(--color-card-bg);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    table-layout: auto;
}

.products-table th,
.products-table td {
    padding: var(--spacing-md) var(--spacing-md);
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid var(--color-input-border);
}

.products-table thead th {
	position: sticky;
	top: 0;
	z-index: 1;
    text-align: center;
}

.products-table th {
    background-color: var(--color-light);
    font-weight: 600;
    color: var(--color-text);
    text-transform: uppercase;
    font-size: 0.85em;
}

.products-table tbody tr {
    height: 110px;
}

.products-table tbody tr:hover {
    background-color: var(--color-light);
}

.table-product-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.table-product-image-placeholder {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  color: #999;
  font-size: 12px;
  border-radius: var(--border-radius);
}

.price-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.discount-value {
    color: red;
    font-size: 1em;
    text-align: center;
}

.tags-cell {
    max-width: 250px;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    max-height: 5rem;
    width: 150px;
    overflow: hidden;
    justify-content: center;
}

.tags-cell .tag {
    background-color: var(--color-primary);
    color: var(--color-button-text);
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--border-radius);
    font-size: 0.8rem;
    font-weight: 600;
    white-space: nowrap;
    margin: 0;
}

.product-description {
    width: 250px;
    margin: 0;
}

.actions-cell {
	position: sticky;
	right: 0;
	background-color: var(--color-card-bg);
}

.action-buttons button {
	width: 80px;
	display: block;
	margin-bottom: var(--spacing-sm);
}

.action-buttons button:not(:last-child) {
    margin-right: var(--spacing-sm);
}

.edit-button { background-color: var(--color-primary); color: var(--color-button-text); }
.edit-button:hover { background-color: var(--color-primary); filter: brightness(90%); }

.delete-button { background-color: var(--color-danger); color: var(--color-button-text); }
.delete-button:hover { background-color: var(--color-danger); filter: brightness(90%); }

.products-table .name-cell {
    min-width: 60px;
}

.products-table td.name-cell,
.products-table td.price-cell {
    vertical-align: middle;
    text-align: center;
}
