.home-page-container {
  text-align: center;
}

.home-page-title {
  font-size: 2.5rem;
  margin-bottom: var(--spacing-sm);
  color: var(--color-primary);
}

.home-page-subtitle {
  font-size: 1.2rem;
  color: var(--color-secondary);
  margin-bottom: var(--spacing-xl);
}
