name: Deploy Backend

on:
  push:
    branches:
      - main # deploy on main branch push

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build TypeScript
        run: npm run build

      - name: Install AWS CLI & EB CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip zip unzip
          pip3 install --upgrade awsebcli

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Deploy to Elastic Beanstalk
        run: |
          eb init -p node.js backend-prod-env --region us-east-2
          eb deploy backend-prod-env
